<section class="intro">
  <h1>A5 Greetings Cards & Announcements in Mounts</h1>
  <h2>A5 Greetings Cards</h2>
  <p>
    Stitched and embellished applique fabric panels are mounted onto white greetings cards and left blank for your personal message inside.  Cards come with matching white envelope.
  </p>
  <h2>10 x 8 inch Announcements in Mounts</h2>
  <p>
    By popular demand, we have designed a slightly larger fabric panel for your celebration panel.  This is mounted onto off white mount board and framed with a matching off white mount.  The finished size is 10 x 8 inch, a standard picture frame size, so you can either give your mounted announcement and let your recipients choose the perfect frame for their room, or you can select your own from any good frame stockist.
  </p>
</section>

<section class="examples">
  <figure class="uploaded">
    <%= link_to(image_path("86/Baby_Boy_Birth_Card_-_BBBC01.jpg")) do %>
      <%= image_tag("86/thumb_Baby_Boy_Birth_Card_-_BBBC01.jpg") %>
    <% end %>
    <figcaption>
      <p>Baby Boy Birth Card</p>
      <p>
        BBBC01 | <%= number_to_currency(12, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("87/Baby_Boy_Birth_Card_-_BBBC02.jpg")) do %>
      <%= image_tag("87/thumb_Baby_Boy_Birth_Card_-_BBBC02.jpg") %>
    <% end %>
    <figcaption>
      <p>Baby Boy Birth Card</p>
      <p>
        BBBC02 | <%= number_to_currency(12, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("88/Baby_Girl_Birth_Card_-_BGBC01.jpg")) do %>
      <%= image_tag("88/thumb_Baby_Girl_Birth_Card_-_BGBC01.jpg") %>
    <% end %>
    <figcaption>
      <p>Baby Girl Birth Card</p>
      <p>
        BGBC01 | <%= number_to_currency(12, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("89/Baby_Girl_Birth_Card_-_BGBC02.jpg")) do %>
      <%= image_tag("89/thumb_Baby_Girl_Birth_Card_-_BGBC02.jpg") %>
    <% end %>
    <figcaption>
      <p>Baby Girl Birth Card</p>
      <p>
        BGBC02 | <%= number_to_currency(12, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("90/Baby_Girl_Birth_Card_-_BGBC02.jpg")) do %>
      <%= image_tag("90/thumb_Baby_Girl_Birth_Card_-_BGBC02.jpg") %>
    <% end %>
    <figcaption>
      <p>Baby Girl Birth Card</p>
      <p>
        BGBC02 | <%= number_to_currency(12, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("91/Wedding_Mr___Mrs_Card_-_WMMC01.jpg")) do %>
      <%= image_tag("91/thumb_Wedding_Mr___Mrs_Card_-_WMMC01.jpg") %>
    <% end %>
    <figcaption>
      <p>Wedding Mr & Mrs Card</p>
      <p>
        WMMC01 | <%= number_to_currency(12, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("92/Wedding_Mr___Mrs_Card_-_WMMC02.jpg")) do %>
      <%= image_tag("92/thumb_Wedding_Mr___Mrs_Card_-_WMMC02.jpg") %>
    <% end %>
    <figcaption>
      <p>Wedding Mr & Mrs Card</p>
      <p>
        WMMC02 | <%= number_to_currency(12, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("93/Baby_Girl_Birth_Card_2_BGBC02.jpg")) do %>
      <%= image_tag("93/thumb_Baby_Girl_Birth_Card_2_BGBC02.jpg") %>
    <% end %>
    <figcaption>
      <p>Baby Girl Birth Card: 2</p>
      <p>
        BGBC02 | <%= number_to_currency(12, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("94/Christening_Card_CHC01.jpg")) do %>
      <%= image_tag("94/thumb_Christening_Card_CHC01.jpg") %>
    <% end %>
    <figcaption>
      <p>Christening Card</p>
      <p>
        CHC01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <!--
  <figure class="uploaded">
    <%= link_to(image_path("95/Birthday_Alliums_-_BA01.jpg")) do %>
      <%= image_tag("95/thumb_Birthday_Alliums_-_BA01.jpg") %>
    <% end %>
    <figcaption>
      <p>Birthday Alliums</p>
      <p>
        BA01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("95/Birthday_Alliums_-_BA01.jpg")) do %>
      <%= image_tag("95/thumb_Birthday_Alliums_-_BA01.jpg") %>
    <% end %>
    <figcaption>
      <p>Birthday Alliums</p>
      <p>
        BA01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("96/Birthday_Alliums_-_BA01.jpg")) do %>
      <%= image_tag("96/thumb_Birthday_Alliums_-_BA01.jpg") %>
    <% end %>
    <figcaption>
      <p>Birthday Alliums</p>
      <p>
        BA01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("97/Birthday_Alliums_-_BA01.jpg")) do %>
      <%= image_tag("97/thumb_Birthday_Alliums_-_BA01.jpg") %>
    <% end %>
    <figcaption>
      <p>Birthday Alliums</p>
      <p>
        BA01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
-->
  <footer></footer>
</section>