<section class="intro">
  <h1>A5 Greetings Cards</h1>
  <p>
    Stitched and embellished applique fabric panels are mounted onto white greetings cards and left blank for your personal message inside.  Cards come with matching white envelope.
  </p>
</section>

<section class="examples">
  <table>
    <tbody>
      <tr>
        <td>
          <figure>
            <%= image_tag("a5_cards/Baby Boy Birth Card - BBBC01.jpg") %>
            <figcaption>Baby Boy Birth Card </br> BBBC01 £10.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("a5_cards/Baby Boy Birth Card - BBBC02.jpg") %>
            <figcaption class="second">Baby Boy Birth Card </br> BBBC02 £10.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("a5_cards/Baby Girl Birth Card - BGBC01.jpg") %>
            <figcaption class="third">Baby Girl Birth Card </br> BGBC01 £10.00</figcaption>
          </figure>
        </td>
      </tr>
      <tr class="second_row">
        <td>
          <figure>
            <%= image_tag("a5_cards/Baby Girl Birth Card - BGBC02.jpg") %>
            <figcaption>Baby Girl Birth Card </br> BGBC01 £10.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("a5_cards/Wedding Mr & Mrs Card - WMMC01.jpg") %>
            <figcaption class="second">Wedding Mr & Mrs Card </br> WMMC01</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("a5_cards/Wedding Mr & Mrs Card - WMMC02.jpg") %>
            <figcaption class="third">Wedding Mr & Mrs Card </br> WMMC02</figcaption>
          </figure>
        </td>
      </tr>
    </tbody>
  </table>
</section>