<section class="intro">
  <h1>Christmas Decorations</h1>
  <p>
    A wonderful range of hand-made Christmas decorations to that will look stunning on any Christmas tree or used to dress mantelpieces, staircases or table decorations.   A variety of colour palettes have been used for each design so that they appeal to both traditional and modern themes within the home.  
  </p>
  <p>
    The level of detail on each piece makes them really special.  Most pieces feature hand embroidery stitchwork with decorative hanging ribbons, bead and sequin details and sometimes use of metallic threads.  Each decoration is designed to be view from all sides, so both the front and back are decorated.
  </p>
  <p>
    The main fabric of each decoration is felt, with polyester wadding filler to provide extra padding.
  </p>
</section>

<section class="examples">
  <table>
    <tbody>
      <tr>
        <td>
          <figure>
            <%= image_tag("christmas/3D Bauble range.jpg") %>
            <figcaption>3D Bauble Range </br> Ask for details</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("christmas/3D Bauble Lime and Pink - B3D01.jpg") %>
            <figcaption class="second">3D Bauble Lime and Pink </br> B3D01 £6.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("christmas/3D Bauble Purple and Green - B3D03.jpg") %>
            <figcaption class="third">3D Bauble Purple & Green </br> B3D03 £6.00</figcaption>
          </figure>
        </td>
      </tr>
      <tr class="second_row">
        <td>
          <figure>
            <%= image_tag("christmas/3D Bauble Red and White - B3D02.jpg") %>
            <figcaption>3D Bauble Red & White </br> B3D02 £6.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("christmas/Christmas Dove Range.jpg") %>
            <figcaption class="second">Christmas Dove Range </br> Ask for details </figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("christmas/Christmas Dove Lime - CDD01.jpg") %>
            <figcaption class="third">Christmas Dove Lime </br> CDD01 £5.00</figcaption>
          </figure>
        </td>
      </tr>
    </tbody>
  </table>
</section>