<section class="intro">
  <h1>Christmas Decorations</h1>
  <p>
    A wonderful range of hand-made Christmas decorations to that will look stunning on any Christmas tree or used to dress mantelpieces, staircases or table decorations.   A variety of colour palettes have been used for each design so that they appeal to both traditional and modern themes within the home.  
  </p>
  <p>
    The level of detail on each piece makes them really special.  Most pieces feature hand embroidery stitchwork with decorative hanging ribbons, bead and sequin details and sometimes use of metallic threads.  Each decoration is designed to be view from all sides, so both the front and back are decorated.
  </p>
  <p>
    The main fabric of each decoration is felt, with polyester wadding filler to provide extra padding.
  </p>
</section>

<section class="examples">
  <!--
  <% @display_items.each do |item| %>
  <figure class="uploaded">
    <%= link_to(item.image_url) do %>
      <%= image_tag(item.image_url(:thumb)) %>
    <% end %>
    <figcaption>
      <p><%= item.name %></p>
      <p>
        <% if item.price.nil? %>
          <%= item.code %>
        <% else %>
          <%= item.code %> | <%= number_to_currency(item.price, unit: "£") %>
        <% end %>
      </p>
    </figcaption>
  </figure>
  <% end %>
-->
  <figure class="uploaded">
    <%= link_to(image_path("57/3D_Bauble_range.jpg")) do %>
      <%= image_tag("57/thumb_3D_Bauble_range.jpg") %>
    <% end %>
    <figcaption>
      <p>3D Bauble Range</p>
      <p>
        Ask for more details
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("58/3D_Bauble_Lime_and_Pink_-_B3D01.jpg")) do %>
      <%= image_tag("58/thumb_3D_Bauble_Lime_and_Pink_-_B3D01.jpg") %>
    <% end %>
    <figcaption>
      <p>3D Bauble Lime & Pink</p>
      <p>
        B3D01 | <%= number_to_currency(6, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("59/3D_Bauble_Purple_and_Green_-_B3D03.jpg")) do %>
      <%= image_tag("59/thumb_3D_Bauble_Purple_and_Green_-_B3D03.jpg") %>
    <% end %>
    <figcaption>
      <p>3D Bauble Purple & Green</p>
      <p>
        B3D03 | <%= number_to_currency(6, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("60/3D_Bauble_Red_and_White_-_B3D02.jpg")) do %>
      <%= image_tag("60/thumb_3D_Bauble_Red_and_White_-_B3D02.jpg") %>
    <% end %>
    <figcaption>
      <p>3D Bauble Red & White</p>
      <p>
        B3D02 | <%= number_to_currency(6, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("61/Christmas_Dove_Range_2.jpg")) do %>
      <%= image_tag("61/thumb_Christmas_Dove_Range_2.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Dove Range</p>
      <p>
        Ask for more details
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("62/Christmas_Dove_Lime_-_CDD01.jpg")) do %>
      <%= image_tag("62/thumb_Christmas_Dove_Lime_-_CDD01.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Dove: Lime</p>
      <p>
        CDD01 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("63/Christmas_Dove_Pink_-_CDD02.jpg")) do %>
      <%= image_tag("63/thumb_Christmas_Dove_Pink_-_CDD02.jpg") %>
    <% end %>
    <figcaption>
      <p>3Christmas Dove: Pink</p>
      <p>
        CDD02 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("64/Christmas_Dove_Purple_-_CDD03.jpg")) do %>
      <%= image_tag("64/thumb_Christmas_Dove_Purple_-_CDD03.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Dove: Purple</p>
      <p>
        CDD03 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("65/Christmas_Dove_Red_-_CDD04.jpg")) do %>
      <%= image_tag("65/thumb_Christmas_Dove_Red_-_CDD04.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Dove: Red</p>
      <p>
        CDD04 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("66/Christmas_Dove_White_-_CDD05.jpg")) do %>
      <%= image_tag("66/thumb_Christmas_Dove_White_-_CDD05.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Dove: White</p>
      <p>
        CDD05 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("67/Christmas_Pudding_Range.jpg")) do %>
      <%= image_tag("67/thumb_Christmas_Pudding_Range.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Pudding Range</p>
      <p>
        Ask for more details
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("68/Christmas_Pudding_Pink_-_CPD01.jpg")) do %>
      <%= image_tag("68/thumb_Christmas_Pudding_Pink_-_CPD01.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Pudding: Pink</p>
      <p>
        CPD01 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("69/Christmas_Pudding_Red_-_CPD02.jpg")) do %>
      <%= image_tag("69/thumb_Christmas_Pudding_Red_-_CPD02.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Pudding: Red</p>
      <p>
        CPD02 | <%= number_to_currency(6, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("70/Christmas_Star_Range.jpg")) do %>
      <%= image_tag("70/thumb_Christmas_Star_Range.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Star Range</p>
      <p>
        Please ask for more details
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("71/Christmas_Star_Purple_Front_-_CSDF01.jpg")) do %>
      <%= image_tag("71/thumb_Christmas_Star_Purple_Front_-_CSDF01.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Star Purple: Front</p>
      <p>
        CSF01 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("72/Christmas_Star_Purple_Back_-_CSB01.jpg")) do %>
      <%= image_tag("72/thumb_Christmas_Star_Purple_Back_-_CSB01.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Star Purple: Back</p>
      <p>
        CSF01
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("73/Christmas_Star_Lime_Front_-_CSF02.jpg")) do %>
      <%= image_tag("73/thumb_Christmas_Star_Lime_Front_-_CSF02.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Star Lime: Front</p>
      <p>
        CSF02 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <!--
  <figure class="uploaded">
    <%= link_to(image_path("74/Christmas_Star_Lime_Back_-_CSB02.jpg")) do %>
      <%= image_tag("74/thumb_Christmas_Star_Lime_Back_-_CSB02.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Star Lime: Back</p>
      <p>
        CSF02
      </p>
    </figcaption>
  </figure>
-->
  <figure class="uploaded">
    <%= link_to(image_path("75/Christmas_Star_Red_Front_-_CSF03.jpg")) do %>
      <%= image_tag("75/thumb_Christmas_Star_Red_Front_-_CSF03.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Star Red: Front</p>
      <p>
        CSF03 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("76/Christmas_Star_Red_Back_-_CSB03.jpg")) do %>
      <%= image_tag("76/thumb_Christmas_Star_Red_Back_-_CSB03.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Star Red: Back</p>
      <p>
        CSF03
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("77/Christmas_Star_White_Front_-_CSF04.jpg")) do %>
      <%= image_tag("77/thumb_Christmas_Star_White_Front_-_CSF04.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Star White: Front</p>
      <p>
        CSF04 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("78/Christmas_Star_White_Back_-_CSB04.jpg")) do %>
      <%= image_tag("78/thumb_Christmas_Star_White_Back_-_CSB04.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Star White: Back</p>
      <p>
        CSF04
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("79/Christmas_Tree_Range.jpg")) do %>
      <%= image_tag("79/thumb_Christmas_Tree_Range.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Tree Range</p>
      <p>
        Ask for more details
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("80/Christmas_Tree_Orange_-_CTD01.jpg")) do %>
      <%= image_tag("80/thumb_Christmas_Tree_Orange_-_CTD01.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Tree: Orange</p>
      <p>
        CTD01 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("81/Christmas_Tree_Grey_-_CTD02.jpg")) do %>
      <%= image_tag("81/thumb_Christmas_Tree_Grey_-_CTD02.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Tree: Grey</p>
      <p>
        CTD02 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("82/Christmas_Tree_Red_-_CTD03.jpg")) do %>
      <%= image_tag("82/thumb_Christmas_Tree_Red_-_CTD03.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Tree: Red</p>
      <p>
        CTD03 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("83/Christmas_Tree_Purple_-_CTD04.jpg")) do %>
      <%= image_tag("83/thumb_Christmas_Tree_Purple_-_CTD04.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Tree: Purple</p>
      <p>
        CTD04 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("84/Christmas_Reindeer_Range.jpg")) do %>
      <%= image_tag("84/thumb_Christmas_Reindeer_Range.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Reindeer Range</p>
      <p>
        Please ask for more detail.
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to(image_path("85/Christmas_Reindeer_CRD01.jpg")) do %>
      <%= image_tag("85/thumb_Christmas_Reindeer_CRD01.jpg") %>
    <% end %>
    <figcaption>
      <p>Christmas Reindeer</p>
      <p>
        CRD01 | <%= number_to_currency(5, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <footer></footer>
</section>

<!--  <table>
    <tbody>
      <tr>
        <td>
          <figure>
            <%= image_tag("christmas/3D Bauble range.jpg") %>
            <figcaption>3D Bauble Range </br> Ask for details</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("christmas/3D Bauble Lime and Pink - B3D01.jpg") %>
            <figcaption class="second">3D Bauble Lime and Pink </br> B3D01 £6.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("christmas/3D Bauble Purple and Green - B3D03.jpg") %>
            <figcaption class="third">3D Bauble Purple & Green </br> B3D03 £6.00</figcaption>
          </figure>
        </td>
      </tr>
      <tr class="second_row">
        <td>
          <figure>
            <%= image_tag("christmas/3D Bauble Red and White - B3D02.jpg") %>
            <figcaption>3D Bauble Red & White </br> B3D02 £6.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("christmas/Christmas Dove Range.jpg") %>
            <figcaption class="second">Christmas Dove Range </br> Ask for details </figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("christmas/Christmas Dove Lime - CDD01.jpg") %>
            <figcaption class="third">Christmas Dove Lime </br> CDD01 £5.00</figcaption>
          </figure>
        </td>
      </tr>
    </tbody>
  </table>
-->