<section id="Subtitle">
  <h1>Creators of Personalised Cushions and Cards</h1>
  <%= image_tag("small_IMG_8724.jpg", id: "LeftImage") %>
  <%= image_tag("small_IMG_8726.jpg", id: "RightImage") %>
</section>

<section id="MainImage">
  <%= image_tag("medium_ProductRange.jpg", width: "100%" ) %>
</section>
<section class="examples">
  <table>
    <tbody>
      <tr>
        <td>
          <%= link_to(small_cushions_path) do %>
          <figure>
            <figcaption>Small Square Cushions</figcaption>
            <%= image_tag("small_Individual_Child_in_Uniform_Cushion_-_ICUC02.jpg") %>
          </figure>
          <% end %>
        </td>
        <td>
          <%= link_to(rectangular_cushions_path) do %>
          <figure>
            <figcaption>Rectangular Cushions</figcaption>
            <%= image_tag("small_Baby_Girl_Cushion_-_BGCN01.jpg") %>
          </figure>
          <% end %>
        </td>
        <td>
          <%= link_to(large_cushions_path) do %>
          <figure>
            <figcaption>Large Square Cushions</figcaption>
            <%= image_tag("small_Family_Tree_Cushion_2_-_FTCN02.jpg") %>
          </figure>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to(birthday_cards_path) do %>
          <figure>
            <figcaption>Birthday Cards</figcaption>
            <%= image_tag("small_Baby_Girl_Birth_Card_2_BGBC02.jpg") %>
          </figure>
          <% end %>
        </td>
        <td>
          <%= link_to(occasions_path) do %>
          <figure>
            <figcaption>Cards for Occasions</figcaption>
            <%= image_tag("small_Wedding_Mr___Mrs_Card_-_WMMC01.jpg") %>
          </figure>
          <% end %>
        </td>
        <td>
          <%= link_to(a5_cards_path) do %>
          <figure>
            <figcaption>A5 Greetings Cards</figcaption>
            <%= image_tag("small_Wedding_Mr___Mrs_Card_-_WMMC02.jpg") %>
          </figure>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to(tooth_fairy_path) do %>
          <figure>
            <figcaption>Tooth Fairy Range</figcaption>
            <%= image_tag("small_Tooth_Fairy_Cushion_Pink_-_TFCN01.jpg") %>
          </figure>
          <% end %>
        </td>
        <td>
          <%= link_to(christmas_path) do %>
          <figure>
            <figcaption>Christmas Decorations</figcaption>
            <%= image_tag("small_Christmas_Pudding_Range.jpg") %>
          </figure>
          <% end %>
        </td>
        <td>
          <%= link_to(one_offs_path) do %>
          <figure>
            <figcaption>One Off Commissions</figcaption>
            <%= image_tag("small_Floral_Tapestry_Panel_Cushion_-_FTPCN01.jpg") %>
          </figure>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</section>
