<section id="Subtitle">
  <h1>Creators of Personalised Cushions and Cards</h1>
  <%= image_tag("IMG_8724.jpg", id: "LeftImage") %>
  <%= image_tag("IMG_8726.jpg", id: "RightImage") %>
</section>

<section id="MainImage">
  <%= image_tag("ProductRange.jpg", width: "100%" ) %>
</section>
<section class="examples">
  <table>
    <tbody>
      <tr>
        <td>
          <%= link_to(small_cushions_path) do %>
          <figure>
            <figcaption>Small Square Cushions</figcaption>
            <%= image_tag("small_cushions/Individual Child in Uniform Cushion - ICUC02.jpg") %>
          </figure>
          <% end %>
        </td>
        <td>
          <%= link_to(rectangular_cushions_path) do %>
          <figure>
            <figcaption>Rectangular Cushions</figcaption>
            <%= image_tag("rectangular_cushions/Baby Girl Cushion - BGCN01.jpg") %>
          </figure>
          <% end %>
        </td>
        <td>
          <%= link_to(large_cushions_path) do %>
          <figure>
            <figcaption>Large Square Cushions</figcaption>
            <%= image_tag("large_cushions/Family Tree Cushion 2 - FTCN02.jpg") %>
          </figure>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to(birthday_cards_path) do %>
          <figure>
            <figcaption>Birthday Cards</figcaption>
            <%= image_tag("a5_cards/Baby Girl Birth Card - BGBC02.jpg") %>
          </figure>
          <% end %>
        </td>
        <td>
          <%= link_to(occasions_path) do %>
          <figure>
            <figcaption>Cards for Occasions</figcaption>
            <%= image_tag("a5_cards/Wedding Mr & Mrs Card - WMMC01.jpg") %>
          </figure>
          <% end %>
        </td>
        <td>
          <%= link_to(a5_cards_path) do %>
          <figure>
            <figcaption>A5 Greetings Cards</figcaption>
            <%= image_tag("a5_cards/Wedding Mr & Mrs Card - WMMC02.jpg") %>
          </figure>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to(tooth_fairy_path) do %>
          <figure>
            <figcaption>Tooth Fairy Range</figcaption>
            <%= image_tag("tooth_fairy/Tooth Fairy Cushion Pink - TFCN01.jpg") %>
          </figure>
          <% end %>
        </td>
        <td>
          <%= link_to(christmas_path) do %>
          <figure>
            <figcaption>Christmas Decorations</figcaption>
            <%= image_tag("christmas/Christmas Pudding Range.jpg") %>
          </figure>
          <% end %>
        </td>
        <td>
          <%= link_to(one_offs_path) do %>
          <figure>
            <figcaption>One Off Commissions</figcaption>
            <%= image_tag("one_offs/Floral Tapestry Panel Cushion - FTPCN01.jpg") %>
          </figure>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</section>
