<section class="intro">
  <h1>Large Square Cushions (approx 45cm)</h1>
  <p>
    These stunning cushions have been lovingly hand crafted using a range of applique fabrics. After being hand cut, the fabrics are machine stitched onto the cushion panel to build up the design.  
  </p>
  <p>
    The cushions have beautiful hand finished embellishment details such as beaded butterfly wings, beaded bird eyes, sequin and beaded flower heads along with machine stitched names of each individual family member next to their representative bird, and the family name stitched at the base of the tree trunk on the Family Tree Cushions and machine stitched names of the children on the School Children Cushions.  NB maximum 6 family members on Family Tree Cushions and maximum 3 children on School Children Cushions.
  </p>
  <p>
    Care Label Information:</br>
    Cushion main outer fabric is cotton canvas in an off white shade.  Inner cushion pads are polyester filled.  The cushion covers are not designed to be removed, so they are stitched closed around all four sides.  Due to the high level of embellishment, our cushions are designed to be decorative, occasional use items.  All beads and sequins are applied by hand.  They have been triple stitched to promote durability.
  </p>
</section>

<section class="examples">
  <table>
    <tbody>
      <tr>
        <td>
          <figure>
            <%= image_tag("large_cushions/Family Tree Cushion - FTCN01.jpg") %>
            <figcaption>Family Tree Cushion </br> FTCN01 £55.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("large_cushions/Family Tree Cushion 2 - FTCN02.jpg") %>
            <figcaption class="second">Family Tree Cushion 2 </br> FTCN02 £55.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("large_cushions/Family Tree Cushion 2 Detail - FTCN2D01.jpg") %>
            <figcaption class="third">Family Tree Cushion 2 Detail </br> FTCN02</figcaption>
          </figure>
        </td>
      </tr>
      <tr class="second_row">
        <td>
          <figure>
            <%= image_tag("large_cushions/Family Tree Cushion 2 Detail - FTCN2D02.jpg") %>
            <figcaption>Family Tree Cushion 2 Detail </br> FTCN02</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("large_cushions/School Children Cushion - SCCN01.jpg") %>
            <figcaption class="second">School Children Cushion </br> SCCN01 £55.00 </figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("large_cushions/School Children Cushion Detail - SCCND01.jpg") %>
            <figcaption class="third">School Children Cushion Detail </br> SCCN01</figcaption>
          </figure>
        </td>
      </tr>
    </tbody>
  </table>
</section>