<section class="intro">
  <h1>Cards for Occasions (5 x 7 inch)</h1>
  <p>
    A real variety of designs that could be adapted for any occasion by changing the text lines.  All designs are created on a fabric panel, layered with applique fabrics and finished with coloured stitch, bead and sequin detail.  The panels are mounted onto white card and left blank inside for your personal message.  Beautiful cards that anyone would be delighted to receive.
  </p>
</section>

<section class="examples">
  <table>
    <tbody>
      <tr>
        <td>
          <figure>
            <%= image_tag("occasions/Anniversary Champagne - AC01.jpg") %>
            <figcaption>Anniversary Champagne </br> AC01 £5.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("occasions/Anniversary Hearts - AH01.jpg") %>
            <figcaption class="second">Anniversary Hearts </br> AH01 £5.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("occasions/Baby Boy Bird and Heart - BBBH01.jpg") %>
            <figcaption class="third">Baby Boy Bird & Heart </br> BBBH01 £5.00</figcaption>
          </figure>
        </td>
      </tr>
      <tr class="second_row">
        <td>
          <figure>
            <%= image_tag("occasions/Baby Girl Bird with Bundle - BGBB01.jpg") %>
            <figcaption>Baby Girl Bird with Bundle </br> BGBB01 £5.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("occasions/Congratulations Champagne - CCH01.jpg") %>
            <figcaption class="second">Congratulations Champagne </br> CCH01 £5.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("occasions/Cornflower Thank You - CFTY01.jpg") %>
            <figcaption class="third">Cornflower Thank You </br> CFTY01 £5.00</figcaption>
          </figure>
        </td>
      </tr>
    </tbody>
  </table>
</section>