<section class="intro">
  <h1>Cards for Occasions (5 x 7 inch)</h1>
  <p>
    A real variety of designs that could be adapted for any occasion by changing the text lines.  All designs are created on a fabric panel, layered with applique fabrics and finished with coloured stitch, bead and sequin detail.  The panels are mounted onto white card and left blank inside for your personal message.  Beautiful cards that anyone would be delighted to receive.
  </p>
</section>

<section class="examples">
  <figure class="uploaded">
    <%= link_to("assets/33/Anniversary_Champagne_-_AC01.jpg") do %>
      <%= image_tag("33/thumb_Anniversary_Champagne_-_AC01.jpg") %>
    <% end %>
    <figcaption>
      <p>Anniversary Champagne</p>
      <p>
        AC01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/34/Anniversary_Hearts_-_AH01.jpg") do %>
      <%= image_tag("34/thumb_Anniversary_Hearts_-_AH01.jpg") %>
    <% end %>
    <figcaption>
      <p>Anniversary Hearts</p>
      <p>
        AH01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/35/Baby_Boy_Bird_and_Heart_-_BBBH01.jpg") do %>
      <%= image_tag("35/thumb_Baby_Boy_Bird_and_Heart_-_BBBH01.jpg") %>
    <% end %>
    <figcaption>
      <p>Baby Boy: Bird & Heart</p>
      <p>
        BBBH01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/36/Baby_Girl_Bird_with_Bundle_-_BGBB01.jpg") do %>
      <%= image_tag("36/thumb_Baby_Girl_Bird_with_Bundle_-_BGBB01.jpg") %>
    <% end %>
    <figcaption>
      <p>Baby Girl Bird with Bundle</p>
      <p>
        BGBB01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/37/Congratulations_Champagne_-_CCH01.jpg") do %>
      <%= image_tag("37/thumb_Congratulations_Champagne_-_CCH01.jpg") %>
    <% end %>
    <figcaption>
      <p>Congratulations Champagne</p>
      <p>
        CCH01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/38/Cornflower_Thank_You_-_CFTY01.jpg") do %>
      <%= image_tag("38/thumb_Cornflower_Thank_You_-_CFTY01.jpg") %>
    <% end %>
    <figcaption>
      <p>Cornflower Thank_You</p>
      <p>
        CFTY01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/39/Easter_Chick_-_EC01.jpg") do %>
      <%= image_tag("39/thumb_Easter_Chick_-_EC01.jpg") %>
    <% end %>
    <figcaption>
      <p>Easter Chick</p>
      <p>
        EC01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/40/Father_s_Day_Bottle_-_FDB01.jpg") do %>
      <%= image_tag("40/thumb_Father_s_Day_Bottle_-_FDB01.jpg") %>
    <% end %>
    <figcaption>
      <p>Father's Day Bottle</p>
      <p>
        FDB01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/41/Father_s_Day_Car_-_FDC01.jpg") do %>
      <%= image_tag("41/thumb_Father_s_Day_Car_-_FDC01.jpg") %>
    <% end %>
    <figcaption>
      <p>Father's Day Car</p>
      <p>
        FDC01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/42/Father_s_Day_Elephants_-_FDE01.jpg") do %>
      <%= image_tag("42/thumb_Father_s_Day_Elephants_-_FDE01.jpg") %>
    <% end %>
    <figcaption>
      <p>Father's Day Elephants</p>
      <p>
        FDE01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/43/Father_s_Day_Sailing_-_FDS01.jpg") do %>
      <%= image_tag("43/thumb_Father_s_Day_Sailing_-_FDS01.jpg") %>
    <% end %>
    <figcaption>
      <p>Father's Day Sailing</p>
      <p>
        FDS01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/44/Merry_Christmas_Green_-_MCG01.jpg") do %>
      <%= image_tag("44/thumb_Merry_Christmas_Green_-_MCG01.jpg") %>
    <% end %>
    <figcaption>
      <p>Merry Christmas Green</p>
      <p>
        MCG01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/45/Merry_Christmas_Red_-_MCR01.jpg") do %>
      <%= image_tag("45/thumb_Merry_Christmas_Red_-_MCR01.jpg") %>
    <% end %>
    <figcaption>
      <p>Merry Christmas Red</p>
      <p>
        MCR01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/46/Mother_s_Day_Ladybird_-_MDL01.jpg") do %>
      <%= image_tag("46/thumb_Mother_s_Day_Ladybird_-_MDL01.jpg") %>
    <% end %>
    <figcaption>
      <p>Mother's Day Ladybird</p>
      <p>
        MDL01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/47/Mother_s_Day_Snowdrops_-_MDS01.jpg") do %>
      <%= image_tag("47/thumb_Mother_s_Day_Snowdrops_-_MDS01.jpg") %>
    <% end %>
    <figcaption>
      <p>Mother's Day Snowdrops</p>
      <p>
        MDS01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/48/New_Home_Blue_-_NHB01.jpg") do %>
      <%= image_tag("48/thumb_New_Home_Blue_-_NHB01.jpg") %>
    <% end %>
    <figcaption>
      <p>New Home: Blue</p>
      <p>
        NHB01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/49/New_Home_Pink_-_NHP01.jpg") do %>
      <%= image_tag("49/thumb_New_Home_Pink_-_NHP01.jpg") %>
    <% end %>
    <figcaption>
      <p>New Home: Pink</p>
      <p>
        NHP01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/50/Red_Bauble_-_RB01.jpg") do %>
      <%= image_tag("50/thumb_Red_Bauble_-_RB01.jpg") %>
    <% end %>
    <figcaption>
      <p>Red Bauble</p>
      <p>
        RB01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/51/Silver_Bauble_-_SB01.jpg") do %>
      <%= image_tag("51/thumb_Silver_Bauble_-_SB01.jpg") %>
    <% end %>
    <figcaption>
      <p>Silver Bauble</p>
      <p>
        SB01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/52/Thank_You_Alliums_-_TYA01.jpg") do %>
      <%= image_tag("52/thumb_Thank_You_Alliums_-_TYA01.jpg") %>
    <% end %>
    <figcaption>
      <p>Thank You Alliums</p>
      <p>
        TYA01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/53/Thank_You_Butterfly_1_-_TYB01.jpg") do %>
      <%= image_tag("53/thumb_Thank_You_Butterfly_1_-_TYB01.jpg") %>
    <% end %>
    <figcaption>
      <p>Thank You Butterfly: 1</p>
      <p>
        TYB01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/54/Thank_You_Butterfly_2_-_TYB02.jpg") do %>
      <%= image_tag("54/thumb_Thank_You_Butterfly_2_-_TYB02.jpg") %>
    <% end %>
    <figcaption>
      <p>Thank You Butterfly: 2</p>
      <p>
        TYB02 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/55/Thank_You_Dragonfly_-TYD01.jpg") do %>
      <%= image_tag("55/thumb_Thank_You_Dragonfly_-TYD01.jpg") %>
    <% end %>
    <figcaption>
      <p>Thank You Dragonfly</p>
      <p>
        TYD01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <figure class="uploaded">
    <%= link_to("assets/56/Valentine_Hearts_-_VH01.jpg") do %>
      <%= image_tag("56/thumb_Valentine_Hearts_-_VH01.jpg") %>
    <% end %>
    <figcaption>
      <p>Valentine Hearts</p>
      <p>
        VH01 | <%= number_to_currency(8, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  <footer></footer>
</section>