<section class="intro">
  <h1>One-off Commissions</h1>
  <p>
    The pieces below have been made as one-off commissions. Please contact me with your
    requirements for a quote.
  </p>
</section>

<section class="examples">
  <table>
    <tbody>
      <tr>
        <td>
          <figure>
            <%= image_tag("one_offs/Door Hanging Front View - DHFV01.jpg") %>
            <figcaption>Door Hanging Front View </br> £10.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("one_offs/Door Hanging Back View - DHBV01.jpg") %>
            <figcaption class="second">Door Hanging Back View </br> Price is indicative</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("one_offs/Owl Door Hanging Front View - ODHFV01.jpg") %>
            <figcaption class="third">Owl Door Hanging Front View </br> £10.00</figcaption>
          </figure>
        </td>
      </tr>
      <tr class="second_row">
        <td>
          <figure>
            <%= image_tag("one_offs/Owl Door Hanging Back View - ODHBV01.jpg") %>
            <figcaption>Owl Door Hanging Back View </br> Price is indicative</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("one_offs/Floral Tapestry Panel Cushion - FTPCN01.jpg") %>
            <figcaption class="second">Floral Tapestry Panel Cushion </br> £85.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("one_offs/Union Jack Tapestry Panel Cushion - UJTPCN01.jpg") %>
            <figcaption class="third">Union Jack Tapestry Panel Cushion </br> £85.00</figcaption>
          </figure>
        </td>
      </tr>
    </tbody>
  </table>
</section>