<section class="intro">
  <h1>  Rectangular Cushions (approx. 30 x 50cm)</h1>
  <p>
    These stunning cushions have been lovingly hand crafted using a range of applique fabrics. After being hand cut, the fabrics are machine stitched onto the cushion panel to build up the design.  
  </p>
  <p>
    The cushions have beautiful hand finished embellishment details such as beaded hearts, bead and sequinned flower heads and butterfly wings.  Each cushion is personalised with the name of the recipient and in most cases the details of the event it is celebrating.  Please note that the amount of text is limited to a similar amount illustrated in the examples below.
  </p>
  <p>
    Care Label Information:</br>
    Cushion main outer fabric is cotton canvas in an off white shade.  Inner cushion pads are polyester filled.  The cushion covers are not designed to be removed, so they are stitched closed around all four sides.  Due to the high level of embellishment, our cushions are designed to be decorative, occasional use items.  All beads and sequins are applied by hand.  They have been triple stitched to promote durability.
  </p>
</section>

<section class="examples">

  <figure class="uploaded">
    <%= link_to(image_path("113/Wedding_Cushion_-_WCN02.jpg")) do %>
      <%= image_tag("113/thumb_Wedding_Cushion_-_WCN02.jpg") %>
    <% end %>
    <figcaption>
      <p>Wedding Cushion</p>
      <p>
        WCN02 | <%= number_to_currency(50, unit: "£") %>
      </p>
    </figcaption>
  </figure>

  <figure class="uploaded">
    <%= link_to(image_path("114/Wedding_Cushion_-_WCN03.jpg")) do %>
      <%= image_tag("114/thumb_Wedding_Cushion_-_WCN03.jpg") %>
    <% end %>
    <figcaption>
      <p>Wedding Cushion</p>
      <p>
        WCN03 | <%= number_to_currency(50, unit: "£") %>
      </p>
    </figcaption>
  </figure>

  <figure class="uploaded">
    <%= link_to(image_path("115/Wedding_Cushion_Reverse_-_WCNR03.jpg")) do %>
      <%= image_tag("115/thumb_Wedding_Cushion_Reverse_-_WCNR03.jpg") %>
    <% end %>
    <figcaption>
      <p>Wedding Cushion - Text on Reverse</p>
      <p>
        WCNR03 | <%= number_to_currency(50, unit: "£") %>
      </p>
    </figcaption>
  </figure>

  <figure class="uploaded">
    <%= link_to(image_path("116/Baby_Boy_Cushion_-_BBCN01.jpg")) do %>
      <%= image_tag("116/thumb_Baby_Boy_Cushion_-_BBCN01.jpg") %>
    <% end %>
    <figcaption>
      <p>Baby Boy Cushion</p>
      <p>
        BBCN01 | <%= number_to_currency(50, unit: "£") %>
      </p>
    </figcaption>
  </figure>

  <figure class="uploaded">
    <%= link_to(image_path("117/Baby_Girl_Cushion_-_BGCN01.jpg")) do %>
      <%= image_tag("117/thumb_Baby_Girl_Cushion_-_BGCN01.jpg") %>
    <% end %>
    <figcaption>
      <p>Baby Girl Cushion</p>
      <p>
        BGCN01 | <%= number_to_currency(50, unit: "£") %>
      </p>
    </figcaption>
  </figure>

  <figure class="uploaded">
    <%= link_to(image_path("118/Baby_Girl_Cushion_3_BGCN03.jpg")) do %>
      <%= image_tag("118/thumb_Baby_Girl_Cushion_3_BGCN03.jpg") %>
    <% end %>
    <figcaption>
      <p>Baby Girl Cushion</p>
      <p>
        BGCN03 | <%= number_to_currency(50, unit: "£") %>
      </p>
    </figcaption>
  </figure>

  <figure class="uploaded">
    <%= link_to(image_path("119/Baby_Girl_Cushion_4_BGCN04.jpg")) do %>
      <%= image_tag("119/thumb_Baby_Girl_Cushion_4_BGCN04.jpg") %>
    <% end %>
    <figcaption>
      <p>Baby Girl Cushion</p>
      <p>
        BGCN04 | <%= number_to_currency(50, unit: "£") %>
      </p>
    </figcaption>
  </figure>

  <figure class="uploaded">
    <%= link_to(image_path("120/Baby_Girl_Yorkshire_Cushion_5_BGCN05.jpg")) do %>
      <%= image_tag("120/thumb_Baby_Girl_Yorkshire_Cushion_5_BGCN05.jpg") %>
    <% end %>
    <figcaption>
      <p>Baby Girl Cushion</p>
      <p>
        BGCN05 | <%= number_to_currency(50, unit: "£") %>
      </p>
    </figcaption>
  </figure>

  <figure class="uploaded">
    <%= link_to(image_path("121/Christening_Cushion_1_CCN01.jpg")) do %>
      <%= image_tag("121/thumb_Christening_Cushion_1_CCN01.jpg") %>
    <% end %>
    <figcaption>
      <p>Christening Cushion</p>
      <p>
        CCN01 | <%= number_to_currency(50, unit: "£") %>
      </p>
    </figcaption>
  </figure>

  <figure class="uploaded">
    <%= link_to(image_path("122/Postcard_Cushion_1_PCCN01.jpg")) do %>
      <%= image_tag("122/thumb_Postcard_Cushion_1_PCCN01.jpg") %>
    <% end %>
    <figcaption>
      <p>Postcard Cushion</p>
      <p>
        PCCN01 | <%= number_to_currency(50, unit: "£") %>
      </p>
    </figcaption>
  </figure>
  
  <footer></footer>

</section>