<section class="intro">
  <h1>  Rectangular Cushions (approx. 30 x 50cm)</h1>
  <p>
    These stunning cushions have been lovingly hand crafted using a range of applique fabrics. After being hand cut, the fabrics are machine stitched onto the cushion panel to build up the design.  
  </p>
  <p>
    The cushions have beautiful hand finished embellishment details such as beaded hearts, bead and sequinned flower heads and butterfly wings.  Each cushion is personalised with the name of the recipient and in most cases the details of the event it is celebrating.  Please note that the amount of text is limited to a similar amount illustrated in the examples below.
  </p>
  <p>
    Care Label Information:</br>
    Cushion main outer fabric is cotton canvas in an off white shade.  Inner cushion pads are polyester filled.  The cushion covers are not designed to be removed, so they are stitched closed around all four sides.  Due to the high level of embellishment, our cushions are designed to be decorative, occasional use items.  All beads and sequins are applied by hand.  They have been triple stitched to promote durability.
  </p>
</section>

<section class="examples">
  <table>
    <tbody>
      <tr>
        <td>
          <figure>
            <%= image_tag("rectangular_cushions/Wedding Cushion - WCN01.jpg") %>
            <figcaption>Wedding Cushion </br> WCN01 £50.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("rectangular_cushions/Wedding Cushion - WCN02.jpg") %>
            <figcaption class="second">Wedding Cushion </br> WCN02 £50.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("rectangular_cushions/Wedding Cushion - WCN03.jpg") %>
            <figcaption class="third">Wedding Cushion </br> WCN03 £50.00</figcaption>
          </figure>
        </td>
      </tr>
      <tr class="second_row">
        <td>
          <figure>
            <%= image_tag("rectangular_cushions/Wedding Cushion Reverse - WCNR03.jpg") %>
            <figcaption>Wedding Cushion - Personal text </br> can be added to the reverse</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("rectangular_cushions/Baby Boy Cushion - BBCN01.jpg") %>
            <figcaption class="second">Baby Boy Cushion </br> BBCN01 £50.00 </figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("rectangular_cushions/Baby Girl Cushion - BGCN01.jpg") %>
            <figcaption class="third">Baby Girl Cushion </br> BGCN01 £50.00</figcaption>
          </figure>
        </td>
      </tr>
    </tbody>
  </table>
</section>