<section class="intro">
  <h1>Small Square Cushions (approx 40cm)</h1>
  <p>
    These stunning cushions have been lovingly hand crafted using a range of applique fabrics. After being hand cut, the fabrics are machine stitched onto the cushion panel to build up the design.  
  </p>
  <p>
    The cushions have beautiful hand finished embellishment details such as beads to represent buttons on dresses, sequin and beaded flower heads along with a machine stitched name of the child in handwriting style.
  </p>
  <p>
    Care Label Information:</br>
    Cushion main outer fabric is cotton canvas in an off white shade.  Inner cushion pads are polyester filled.  The cushion covers are not designed to be removed, so they are stitched closed around all four sides.  Due to the high level of embellishment, our cushions are designed to be decorative, occasional use items.  All beads and sequins are applied by hand.  They have been triple stitched to promote durability.
  </p>
</section>

<section class="examples">
  <table>
    <tbody>
      <tr>
        <td>
          <figure>
            <%= image_tag("small_cushions/Individual Child in Uniform Cushion - ICUC01.jpg") %>
            <figcaption>Individual Child in Uniform </br> ICUC01 £45.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("small_cushions/Individual Child in Uniform Cushion - ICUC02.jpg") %>
            <figcaption class="second">Individual Child in Uniform </br> ICUC02 £45.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("small_cushions/Individual Child in Uniform Cushion - ICUC03.jpg") %>
            <figcaption class="third">Individual Child in Uniform </br> ICUC03 £45.00</figcaption>
          </figure>
        </td>
      </tr>
      <tr class="second_row">
        <td>
          <figure>
            <%= image_tag("small_cushions/Individual Child in Uniform Cushion - ICUC04.jpg") %>
            <figcaption>Individual Child in Uniform </br> ICUC04 £45.00</figcaption>
          </figure>
        </td>
        <td>
          <figure>
            <%= image_tag("small_cushions/Individual Child in Uniform Cushion - ICUC05.jpg") %>
            <figcaption class="second">Individual Child in Uniform </br> ICUC05 £45.00 </figcaption>
          </figure>
        </td>
        <td>
          <figure>
            
            
          </figure>
        </td>
      </tr>
    </tbody>
  </table>
</section>